package qrcode

templ QrCode(phoneNumber string, message string) {
	<canvas id="whatsapp-qr-code" class="rounded-xl"></canvas>
	@templ.JSONScript("whatsappQrCodeProps", map[string]string{"phoneNumber": phoneNumber, "message": message})
	<script src="/assets/js/pkg/whatsapp/qrcode.js"></script>
}
