package qrcode

templ QrCodeComponent() {
	<div
		hx-get="/whatsapp/components/qrcode"
		hx-trigger="load delay:10s"
	>
		@Skeleton()
	</div>
}

templ Skeleton() {
	<div class="w-64 min-h-64 block bg-gray-300 rounded-xl animate-pulse">&nbsp;</div>
}
